:root {
    --primario: #c4b432;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;

}

h1,
h2,
h3 {
    font-weight: 900;
    margin: 2rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.6rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.header {

    padding: 5rem 0;
    background-color: var(--negro);

}

.header__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;

}

@media (min-width: 768px) {
    .header__barra {
        display: flex;
        justify-content: space-between;
        color: var(--blanco);
    }
}

.header__logo {
    width: 20rem;
    margin: 0 auto 3rem auto;
}

@media (min-width: 768px) {
    .header__logo {
        margin: 0;
    }

    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}

.header__heading {
    font-size: 3rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .header__heading {
        text-align: left;
        font-size: 4rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .header__imagen {
        max-width: 30rem;
        margin: 0 auto;
        border-radius: 0.9rem;
    }
}

.header__boton {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--negro);
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .header__boton {
        padding: 1rem 3rem;
        display: inline-block;
    }
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
}

.navegacion__link {
    color: var(--primario);
}

@media (min-width: 768px) {
    .navegacion__link {
        color: var(--blanco);
    }
}

.navegacion__link--blanco {
    color: var(--blanco);
}