/*-----------------Globales------------ */

:root {
    --primario: #c4b432;
    --secundario: #eaeaea;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;

}

h1,
h2,
h3 {
    font-weight: 900;
    margin: 2rem 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/*-----------------------------------   Header ------- -------------------- */
.header {

    padding: 5rem 0;
    background-color: var(--negro);

}

.header__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}



.header__logo {
    width: 20rem;
    margin: 0 auto 3rem auto;
}



.header__heading {
    font-size: 3rem;
    color: var(--blanco);
}


.header__boton {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--negro);
    margin-bottom: 4rem;
}



.topnav {
    overflow: hidden;

}

.topnav a {
    float: left;
    display: block;
    color: var(--primario);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--blanco);
    margin-top: 1rem;
}

.topnav a:hover {
    background-color: var(--primario);

}

.topnav .icon {
    display: none;
}


@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;

    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

@media (min-width: 768px) {
    .header__barra {
        display: flex;
        justify-content: space-between;
        color: var(--blanco);
        align-items: center;
    }

    .header__logo {
        margin: 0;
    }

    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }

    .header__heading {
        text-align: left;
        font-size: 4rem;
        line-height: 1.2;
    }

    .header__imagen {
        max-width: 40rem;
        margin: 0 auto;
        border-radius: 15px;
    }

    .header__boton {
        padding: 1rem 3rem;
        display: inline-block;

    }
}


/*--------------------------------------------Nosotros---------------------------*/
.about {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    align-items: center;
}



.about__text {
    flex: 50%;

}

.about__text h2 {
    color: var(--primario);
    text-align: center;
    font-size: xx-large;

}

.about__text p {
    margin: 2rem;

}

/*----------------------------------------------Carrusel----------------*/
.about__slider {
    flex: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    align-items: center;
}


.about__slider__images {
    border-radius: 15px;
    height: 400px;
    width: 100%;
}

@media (min-width: 768px) {
    .about {
        flex-direction: row;
    }
}





/*--------------------------------------Menu-------------------------*/


.menu {
    background-color: var(--negro);
    padding: 2rem 0;
}

.menu__image {
    height: 130px;
    width: 200px;
    border-radius: 15px;
    margin-top: 1rem;
}

.menu__heading {
    color: var(--primario);
    text-align: center;
    font-size: xx-large;
}

.menu__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: auto 0;

}



.menu__grid__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    padding: auto;
    position: relative;
    margin: 0 1rem;
    border-radius: 15px;
    width: 85%;
    align-items: center;

}




.menu__grid__heading {
    font-size: 3rem;
    text-align: center;
    color: var(--primario);
    margin: 0;
}

.menu__grid__texto {
    margin: 0 2rem;
    font-size: 1.5rem;

}

.menu__grid__price {
    color: var(--primario);
    font-weight: 700;
    text-align: center;
}



@media(min-width: 768px) {
    .menu__grid__texto {
        font-size: 2rem;
        margin: 0 0;
    }

    .menu__grid__container {
        padding: 3rem;
        width: 100%;
    }

    .menu__grid__container:hover {
        transform: scale(1.1);
    }

    .menu__grid__price {

        text-align: right;
    }
}

@media(min-width:1000px) {
    .menu__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        margin: auto 10rem;
    }
}


/*--------------------------------------Formulario-------------------------*/
.container__text {
    color: var(--primario);
    text-align: center;

}

.container {
    padding-top: 5rem;


}

.container__form {
    max-width: 60rem;
    margin: 0 0;
    align-items: center;
}



.container__form fieldset {
    border: 1px solid var(--negro);
    margin-bottom: 2rem;
    width: 60%;
}

.container__form legend {
    background-color: var(--primario);
    width: 100%;
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;


}

.container__form__info {
    display: flex;
    margin-bottom: 2rem;
}

.container__form__info label {
    flex-basis: 10rem;
}

.container__form__info input:not([type="radio"]),
.container__form__info textarea,
.container__form__info select {
    flex: 1;
    border: 1px solid var(--primario);
    padding: 0.5rem;
}

.container__form__btn {
    background-color: var(--primario);
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    width: 100%;
    margin-bottom: 1rem;
}

.container__form__btn:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .container__form {
        margin: 0 auto;
        width: 100%;
    }

    .container__form__btn {
        width: auto;
    }

    .container__form fieldset {

        width: 100%;
    }

    .container__form__btn:hover {
        cursor: pointer;
        animation-name: example;
        animation-duration: 4s;
    }

    @keyframes example {
        from {
            background-color: var(--negro);
        }

        to {
            background-color: var(--primario);
        }
    }
}


/*--------------------------------------Footer-------------------------*/
.footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
}

.footer__logo {
    width: 130px;
    height: 130px;
    margin: 10px 10px;
}

.footer__text {
    text-align: center;
    margin-left: 5px;
    margin-right: 20px;
    color: var(--blanco);
}



.footer__redes a {
    margin: 5px;
}

@media(min-width: 768px) {


    .footer__logo {

        margin: 10px 50px;
    }



}

@media(min-width: 1000px) {
    .footer {
        flex-direction: row;
    }

    .footerredes {
        margin-left: 50px;
    }
}