:root {
    --primario: #c4b432;
    --blanco: #FFF;
    --negro: #000000;
    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;

}

h1,
h2,
h3 {
    font-weight: 900;
    margin: 2rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.6rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.header {

    padding: 5rem 0;
    background-color: var(--negro);

}

.header__contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;

}

@media (min-width: 768px) {
    .header__barra {
        display: flex;
        justify-content: space-between;
        color: var(--blanco);
    }
}

.header__logo {
    width: 20rem;
    margin: 0 auto 3rem auto;
}

@media (min-width: 768px) {
    .header__logo {
        margin: 0;
    }

    .header__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}

.header__heading {
    font-size: 3rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .header__heading {
        text-align: left;
        font-size: 4rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .header__imagen {
        max-width: 30rem;
        margin: 0 auto;
        border-radius: 0.9rem;
    }
}

.header__boton {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--negro);
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .header__boton {
        padding: 1rem 3rem;
        display: inline-block;
    }
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
}

.navegacion__link {
    color: var(--primario);
}

@media (min-width: 768px) {
    .navegacion__link {
        color: var(--blanco);
    }
}

.navegacion__link--blanco {
    color: var(--blanco);
}

/*Nosotros*/
.about {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    align-items: center;
}

@media (min-width: 768px) {
    .about {
        flex-direction: row;
    }
}

.about__text {
    flex: 50%;

}

/*------------------------Slider----------------*/
.about__slider {
    flex: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    align-items: center;
}


.about__slider__images {

    height: 400px;
    width: 100%;
}


/*Section1*/










/*transform: scale(1.1);*/






.menu {
    background-color: var(--negro);
    padding: 5rem 0;
}

.menu__image {
    height: 130px;
    width: 200px;
}

.menu__heading {
    color: var(--primario);
    text-align: center;
}

.menu__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin: auto 2rem;

}

@media (min-width: 768px) {
    .menu__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.menu__grid__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    background-color: var(--blanco);
    padding: 2rem;
    position: relative;
    margin: 0;
}

.menu__grid__container:hover {
    transform: scale(1.1);
}

.menu__grid__heading {
    font-size: 3rem;
    text-align: center;
    color: var(--primario);
    margin: 0;
}

.menu__grid__texto {
    margin: 0;
    font-size: 2rem;

}


.menu__grid__price {
    color: var(--primario);
    font-weight: 700;
    text-align: right;
}